$mainBlue: #007DBA;
$mainOrange: #F28D2A;

@mixin blur_glass () {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(5px);
}

@mixin blur_glass_blocks () {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

@mixin blocks_in_card () {
  border-radius: 5px;
  border: 1px solid $mainBlue;
  background: white;
  -webkit-box-shadow: 7px 5px 7px -5px rgba(0, 125, 186, 0.2);
  -moz-box-shadow: 7px 5px 7px -5px rgba(0, 125, 186, 0.2);
  box-shadow: 7px 5px 7px -5px rgba(0, 125, 186, 0.2);
}

@mixin shadow_for_carts () {
  -webkit-box-shadow: -1px 4px 22px 4px rgba(81, 94, 103, 0.43);
  -moz-box-shadow: -1px 4px 22px 4px rgba(81, 94, 103, 0.43);
  box-shadow: -1px 4px 22px 4px rgba(81, 94, 103, 0.43);
}

@mixin shadow_hover () {
    -webkit-box-shadow: -1px 4px 22px 4px rgba(242, 141, 42, 0.43);
    -moz-box-shadow: -1px 4px 22px 4px rgba(242, 141, 42, 0.43);
    box-shadow: -1px 4px 22px 4px rgba(242, 141, 42, 0.43);
}



body {
  background: #f3efef;
  //margin-top: 200px;
}

.links-block-in-header {
  background: $mainBlue!important;
}

//хеадер
.search_and_header{
  position: sticky;
  top: 0;
  width: 100%!important;
  //margin-bottom: 800px;
  .bottom-part-header{
    background: #f3efef!important;
  }
}
//Все input number поля на страничке
//Убираю стрелки управления внутри полей от браузера
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

//Стилизация ползунка прокрутки
*,
html * /* override x.xhtml.ru style */
{
  scrollbar-width: thin;
  scrollbar-color: $mainOrange #f3efef;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #f3efef;

}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: $mainOrange;
  border-radius: 5px;
  border: 3px solid #f3efef;

}

//переопределение цвета кнопок бутстрапа под цвет заказчика
.btn-warning, .btn-outline-warning {
  background: $mainOrange!important;
  color: black!important;
}
//Кнопки лога и регистрации в шапке
.buttons-reg-in {
  #btn-ex {
    display: none;
  }
}

//Бургер

.burger_button{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;

  &:hover {
    border: 1px solid $mainOrange;
  }
}

.category_dynamic_block {
  //@include blur_glass;
  //background: white;
  background: #f3efef;
  width: 300px;
  height: 100%!important;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: -330px;
  z-index: 6;
  overflow-y: auto;
  overflow-x:hidden;

  //&::-webkit-scrollbar { /* chrome based */
  //  width: 0px;  /* ширина scrollbar'a */
  //  background: transparent;
  //}

  .category_tree{
    outline: 2px solid black; /* Пунктирная рамка */
    outline-offset: -5px;
    -moz-outline-radius: 5px;

    &:hover {
      background: $mainBlue;
      border: none;
      border-radius: 2pt;
      box-shadow: 0 0 0 1pt grey;
      outline: none;
      transition: .1s;

      a.root_leaf {
        color: white;
      }

      transition: 0.5s ease;

    }
  }

  a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    width: 100%;
    font-size: 120%;
  }

  .li_for_root_leaf {
    //margin: 20px;
    margin-top: 20px;
    padding: 15px;
    width: 100%;

  }

  .special_offer_button {
    margin: 20px;
    padding: 15px;
  }

}

.children {
  //@include blur_glass;
  background: white;
  //width: 300px;
  min-width: 180px;
  height: auto;
  position: fixed;
  top: 0;
  left: 280px;
  padding: 20px;
  border: 1px black solid;
  border-radius: 5px;

  .first_ware_cat {
    width: 100%;
    margin-bottom: 0;

    h4 {
      font-size: 100%;
      margin-bottom: 0;
    }

    &:hover {
      color: $mainOrange;
      transition: 1s ease;
    }
  }

  .second_ware_cat {
    &:hover {
      color: $mainOrange;
      transition: 1s ease;
    }
  }

  //.second_ware_cat {
  //  margin-top: 0;
  //  p {
  //    color: #878787;
  //    margin-left: 5px;
  //    margin-top: 0;
  //  }
  //  //margin-left: 5px;
  //  //margin-top: 0;
  //}
}

//Главная, блок категории.
.one_cat_main {
  //border: 1px solid black;
  background: white;
  border-radius: 5px;
  //margin-inline: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  @include shadow_for_carts;

  &:hover {
    @include shadow_hover;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }


  a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-align: center;
  }

}

//Подкатегории
.subcategory-main-div {
  background: white;
  border-radius: 5px;
  @include shadow_for_carts;

  &:hover {
    @include shadow_hover;
  }

  .subcategory-image-div{
    min-height: 200px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}


//Карточки товаров на сетке товаров
.prod-card-div{
  background: white;
  border-radius: 5px;
  @include shadow_for_carts;

  &:hover {
    @include shadow_hover;
  }

  .cart-title-p {
    min-height: 80px;
  }

  .cart-image-div {
    min-height: 200px;
  }

    a{
    text-decoration: none;
    color: black;
  }

  .prod-card-inside {
      text-decoration: none;
  }

  img{
    width: 100%;
  }
}


//Карточка товара на индивидуальной странице товара
.product_detail_block {
  .image-block-in-product {
    background: white;
    @include shadow_for_carts;
    border-radius: 5px;
    //position: sticky;
    //top: 0;
  }
}


//hr под хлебными крошками
.hr-in-bread{
}
//Старница корзины
.cart_page{

  #del-all-selected{
    text-decoration: none;
    color: black;

    &:hover {
      color: $mainOrange;
    }
  }

  .goods_management {
    @include blocks_in_card;
    @include blur_glass_blocks;
    margin-bottom: 10px;

    p{
      margin: auto 0;
      padding: 7px;
    }
  }

  #check-in-card {
    //padding-left: 20px;
  }

  .shopping_cart {
    @include blocks_in_card;
    @include blur_glass_blocks;
  }

  .final_price {
    @include blocks_in_card;
    @include blur_glass_blocks;
    max-height: 250px;
  }
}

//Пагинация

.nav-links {

  .page-numbers {
    background: white;
    border-radius: 4px;
    padding: 5px;
    color: $mainBlue;
    text-decoration: none;

  }

  .current {
    background: $mainBlue;
    color: white;
  }

  .btn-previous {
    &:hover {
      color: white;
      background: $mainOrange;
      transition: 0.5s ease;
    }
  }

  .btn-next {
    &:hover {
      color: white;
      background: $mainOrange;
      transition: 0.5s ease;
    }
  }

}

//Блок логирования
//Для затемнения фона можно использовать еще один див,в который будет
//заключен этот и навесит на него эффект стекла но темного, размеры этого
//дива должны быть 100 по ширине и 100 по высоте


.login_block {
  width: 40%;
  display: none;
  border: 1px solid $mainBlue;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 50% - height/2 ;
  left: 30%;
  border-radius: 5px;
}

.muted-background-login-block {
  background:rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  z-index:4;
  position: fixed;
  top: 0;
  left: 0;
}

.muted-background-burger {
  background:rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  z-index:4;
  position: fixed;
  top: 0;
  left: 0;
}



//Хлебные крошки

.breadcrumbs-div {
  a{
    text-decoration: none;

    &:hover{
      color: $mainOrange;
    }
  }
}

//Блок оформления заказа и доставки
#delivery_block {
  background: #00cc66;
  width: 80%;
  min-height: 50%;
  position: absolute;
  top: 25%;
  left: 10%;
}

.block-text-delivery {
	display: none;
	padding: 15px;
	border: 1px solid #a0a3a8;
}

#check-order-info {
  border: 2px dashed #a0a3a8;
  padding: 20px;
}

//футер
